@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Kalam';
    src: url('/kalam-latin-400-normal.woff2') format('woff2');
    font-display: block;
}

body {
    overflow-x: hidden;
}

.auth {
    background-image: url('/bg-note.jpg') !important;
    background-repeat: no-repeat;
    background-size: 105%;
    background-position: center;
    font-family: 'Kalam' !important;
}

.label {
    display: grid;
    grid-template-areas: "input";

}

.input {
    grid-area: input;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid black;
    padding: .9rem 1.8rem;
}

.label_name {
    grid-area: input;
    margin-left: 1rem;
    padding: 0.5rem;
    align-self: center;
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;

    transition: transform .2s;
    transform-origin: center left;
}

.error {
    margin-left: 10px;
}

.input:focus+.label_name,
.input:not(:placeholder-shown)+.label_name {
    transform: translateY(-70%) scale(.7);
    background-color: #E2E2E3;
    will-change: transform;
}

.input:focus+.label_name,
.input:not(:placeholder-shown)+.error {
    will-change: transform;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-color: transparent !important;
    color: fieldtext !important;
}


.dashboard {
    background-color: #ffffff;
}

.categories {
    color: white;
    display: grid;
    gap: 10px;
    grid-template-areas:
        "todo money work work"
        "todo travel travel shop"
        "todo idea health shop"
        "me me health study"
    ;
}

.categories>button {
    border-radius: 25px;
}

.all {
    grid-area: todo;
}

.work {
    grid-area: work;
}

.shop {
    grid-area: shop;
}

.study {
    grid-area: study;
}

.me {
    grid-area: me;
}

.money {
    grid-area: money;
}

.travel {
    grid-area: travel;
}

.idea {
    grid-area: idea;
}

.health {
    grid-area: health;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
    column-gap: 60px;
    row-gap: 50px;
}

.search:focus {
    border-style: none;
}

.option {
    background-clip: text;
    color: transparent;
}

@media (max-width: 768px) {
    .categories {
        display: grid;
        grid-template-areas:
            "todo money work "
            "todo travel shop"
            "idea health shop"
            "me health study"
        ;
    }

    .auth {
        background-size: cover;
    }
}

@media (max-width: 1024px) {
    .auth {
        background-size: cover;
    }
}